<head>
  <title>{{title}} - Openly Operated</title>
  
	<meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{#if description }}
  <meta name="description" content="{{description}}">
  {{else}}
  <meta name="description" content="Trust through transparency.">
  {{/if}}
  {{#if author }}
  <meta name="author" content="{{author}}">
  {{else}}
  <meta name="author" content="Openly Operated">
  {{/if}}

	<meta property="og:type" content="product">
  {{#if title }}
	<meta property="og:title" content="{{title}} - Openly Operated">
  {{ else }}
  <meta property="og:title" content="Openly Operated">
  {{/if}}
  {{#if description }}
	<meta property="og:description" content="{{description}}">
  {{ else }}
	<meta property="og:description" content="Trust through transparency.">
  {{/if}}
	<meta property="og:url" content="https://openlyoperated.org">
  <meta property="og:image" content="https://openlyoperated.org/images/glasses.png">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/oo.css">
  
</head>