{{> header title=this.title}}

<body>
  
  {{> nav active }}
  
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <h4 class="text-center serif mb-4 pb-2 mt-0 pt-5">{{ this.title }}</h4>
        <hr>
      </div>
    </div>
    
    <div class="row">
      
      {{> flash }}
      <div class="col-lg-8 offset-lg-2 border pb-4 px-5 pt-2 mt-3 mb-3 rounded">
        <h5 class="mt-3 pb-0 mb-0 text-center">The Openly Operated Newsletter</h5>
        <p class="mt-3">Get the latest updates and news. Your email address is kept private and never shared with third parties &mdash; see <a href="/report/openlyoperated#email-address-privacy" target="_blank">the proof</a> in OpenlyOperated.org's <a href="/report/openlyoperated" target="_blank">Audit Kit</a>.</p>
        {{> emailsubscribe id='1009' size='lg'}}
      </div>
      
      <div class="col-lg-10 offset-lg-1 pb-5">
        
        {{#each posts}}
        <div class="pb-3 pt-4" id="anchor{{this.id}}">
          <a href="/blog/{{this.alias}}"><h4 class="mt-3 pb-0 mb-0"><u>{{ this.title }}</u></h4></a>
          <div class="text-muted mb-2"><small>{{ this.createDateBlog }} by {{ this.author }}</small></div>
          {{{ this.html }}}
        </div>
        {{/each}}
        
      </div>
      
    </div>
    
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>